<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>brick</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="main">
        <h1  style="position:absolute; transform: rotate(-90deg);left:-11.4vw; top:40vh; ;font-size: 350%;" class="neon">BREAKdaWALLS</h1>
     <h1 style="position:absolute; transform: rotate(90deg);left:79vw; top:40vh; font-size: 350%;" class="neon">BREAKdaWALLS</h1>
     <div id="wall" class="wallStyle">
        <div id="gameover" class="gameoverstyle neonlite" >
            <br>
            <h4>GREETINGS PROFESSOR FALKEN,</h3>
            <h4>SHALL WE PLAY A GAME?</h3>
            <br>
            <h5>Please lock in</h4>
            <h5>and the fun will begin.</h4>
            <form action="">
            <br>
            <h5>GamerTAG or e-mail:</h4>
           <input id="tmIn" type="text" name="TAGMAIL" placeholder="awesomeGamer">
           <br>
           <h5>Password:</h4>
            <input id="pwIn"type="password" name="passWord" placeholder="iamsherlocked">
            <br>
            <div id="wellcomeLogIn" class="brick blue" style="font-size: small;width: 7vw; height: 5vh; position:absolute; left: 27vw; top: 60vh;"><br><p>Login</p>
            </div>
            <div id="wellcomeRegister" class="brick red" style="font-size: small;width: 7vw; height: 5vh; position:absolute; left: 35vw; top: 60vh;"><br><p>Register</p>
            </div>
          </form> 
        </div>
   
        <h1 class="highscore">Highscore :</h2>
                <h1 class="score">Your Score :</h2>
                    <div id="pad" class="padStyle"></div>
                    <div id="daBall" class="daBallStyle"></div>
                    <div id="ballOut"
                        style="position: absolute; z-index: 10;bottom: 0vh; width: 100vw; height: 3vh; background-color: rgba(255, 0, 0, 0);left: 0vw">
                    </div>
        </div>
    </div>
    </div>
    <script src="code.js"></script>
</body>

</html>