<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>onscreenkeyboard</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div>
        <h1>Hallo! Dieses Onscreenkeyboard soll die Standardtastatur 
            <br>auf Bildschirmen ergänzen. 
            <br>Es ist auf Anpassbarkeit und Flexibilität 
        <br>ausgelegt. Bei Bedarf wird die jetzt sichtbare Tastatur ausgeblendet
    <br>und durch ein Bild ersetzt.
<br>Die Tastatur läßt sich schnell und einfach durch den Austausch von Strings, 
<br>also Textelementen, länderspezifisch anpassen. </h1>
    </div>
    <div id="keyboardDisplay">
          <h1>yo</h1>
    </div>
    <div id="oSKeyboard" onload="oSKeyboardInitF()">

    </div>

    <script src="code.js"></script>
</body>
</html>