<!DOCTYPE html>
<html lang="en">

<head>
    <title>Blender</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
        @media (max-width: 600px) {

            nav,
            article {
                width: 100%;
                height: auto;
            }
        }
    </style>
</head>

<body>

    <header class="box100 blendercon">
        <h2>Blender - all you need for 3d Graphics 4 free</h2>
    </header>

    <section>

        <article class="box10">

        </article>

        <article class="box box30">
                <h3><a href="https://www.blender.org/"target="_blank">Blender</a></h3>
                <p>Blender is a great 3d graphic program. just check youtube and search for blender 
                    and you will find many tutorials and examples, how versatile blender is.
                Search sintel or agent 327. </p>
        </article>

        <article class="box box50" style="background:url(assets/blender2.png);background-size: cover; ">

        </article>

        <article class="box10">

        </article>

        <article class="box box50" style="background:url(assets/blenderartists.png);background-size: cover; ">

            </article>

 <article class="box box30">
        <h3><a href="https://blenderartists.org/"target="_blank">Blenderartists</a></h3>

        <p>great forum with lots of great work, help and discussion</p>
        </article>
        <article class="box10">

            </article>

        <article class="box box30">
                <h3><a href="http://www.makehumancommunity.org/"target="_blank">Makehuman</a></h3>
                <p>you can download a generator for humans here that you can use in blender.</p>
        </article>

        <article class="box box50" style="background:url(assets/makehuman.png);background-size: cover;">

        </article>

        <article class="box10">

        </article>

        <article class="box box50" style="background:url(assets/blenderartists2.png);background-size: cover;">

            </article>

 <article class="box box30">
        <h3><a href="https://blenderartists.org/c/artwork/forum-gallery"target="_blank">Blenderartists Galery</a></h3>
        <p>really cool examples for projects realized with blender. check for many great pictures here.</p>
        </article>
      

        <div class="navbar">
                <a href="index.html">Main</a>
                <a href="blender.html" class="active">Blender</a>
                <a href="gimp.html">GIMP</a>
                <a href="kilobolt.html">Kilobolt</a>
                <a href="travis.html">Travis</a>
                <a href="security.html">Safety</a>
                
        
        
              </div> 

    </section>

    <footer>
            <p>an IT Works Production<br>Created by Clemens Behrens<br>
            Created with codetemplets from w3schools<br><br><br></p>
    
        </footer>

</body>

</html>