<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Erklärbär the Website</title>
    <style> *{color} </style>
</head>

<body>
   <h1>you are rickroled!</h1>
    
   
    <iframe width="708" height="531"  src="https://www.youtube.com/embed/DLzxrzFCyOs?autoplay=1"target="_blank"></iframe>

    <h1></h1>

    <div class="navbar">
        <a href="index.html">Main</a>
        <a href="blender.html" class="active">Blender</a>
        <a href="gimp.html">GIMP</a>
        <a href="kilobolt.html">Kilobolt</a>
        <a href="travis.html">Travis</a>
        <a href="security.html">Safety</a>
        


      </div> 


</body>