<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Erklärbär the Website</title>
    <style>
        * {
            color
        }
    </style>
</head>

<body>
    <div class="blender box">
        <h3><a href="blender.html">Blender</a></h3>
        <p>a 3d graphics program that can compete with professional solutions<br>you can also find some other 3d links
            here</p>

    </div>
    </a>

    <div class="gimp box">
        <h3><a href="gimp.html">GIMP</a></h3>
        <p>if you cannot afford photoshop, use gimp<br>it can do a lot of things with your pictures and it´s free</p>
       
    </div>

    <div class="kilobolt box">
            <h3><a href="kilobolt.html">Learn Android with kilobolt</a></h3>
      
        <p>If you want to get a glimps of<br>how to write androidapps in Java (NOT! Javascript!)</p>
    </div>

    <div class="newBostonTravis box">
            <h3><a href="travis.html">Travis of the New Boston</a></h3>
     
        <p>some HTML, CSS and Adroid Java at mobile devices</p>
    </div>

    <div class="security box">
            <h3><a href="security.html">Safetytips</a></h3>
        
        <p>some tips about security here<br>the internet is a tricky place</p>

    </div>
    <div class="secretID box">
            <h3><a href="hero.html">Secret Superhero ID</a></h3>
      
        <p>never ever even think about clicking here!</p>

    </div>
    <!--footer-->
    <footer>
            <p>an IT Works Production<br>Created by Clemens Behrens<br>
            Created with codetemplets from w3schools<br><br></p>
    
        </footer>
</body>

</html>