<!DOCTYPE html>
<html lang="en">

<head>
    <title>Kilobolt</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
        @media (max-width: 600px) {

            nav,
            article {
                width: 100%;
                height: auto;
            }
        }
    </style>
</head>

<body>

    <header class="box100 kiloboltcon">
        <h2>Kilobolt - learn object oriented programming here</h2>
    </header>

    <section>

        <article class="box10">

        </article>

        <article class="box box30">
                <h3><a href="http://www.kilobolt.com/" target="_blank">Kilobolt</a></h3>
            <p>the website i learn android java with. if you want to learn objectoriented programming, this is a good first step.</p>
        </article>

        <article class="box box50" style="background:url(assets/kiloboltmain.png);background-size: cover; ">

        </article>

     
     
        <div class="navbar">
                <a href="index.html">Main</a>
                <a href="blender.html">Blender</a>
                <a href="gimp.html">GIMP</a>
                <a href="kilobolt.html"class="active">Kilobolt</a>
                <a href="travis.html">Travis</a>
                <a href="security.html" >Safety</a>
                
        
        
              </div> 

    </section>

    <footer>
            <p>an IT Works Production<br>Created by Clemens Behrens<br>
            Created with codetemplets from w3schools<br><br></p>
    
        </footer>

</body>

</html>