<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Erklärbär the Website</title>
    <style> *{color} </style>
</head>

<body>
    
    <div class="box" style="width: 80%; padding:25px 8% 25px 8%; " >
    <p style="text-align: justify;  font-size: 40px;">Only a tip here to create a password that you can write down and 
        wich is still safe. first of all, you have to be aware, that there are two types of hackers: 
        <br><br>the ones, who want to do it for the fame and the bad guys, who want to steal your identity.
      <br><br>the bad guys are the ones, you have to focus on.
<br><br>
how can you do this?<br>
 
choose a password like e.g. movietheatre.
first step: change letters for numbers. m zero v 1 3 t h 3 4 t r 3. 
<br><br>
second step: choose some control characters like § or & and place them inside your password.
you can choose any place. e.g. m0v§13th34tr3&. 
<br><br>
you can carry a paper with you that says movietheatre 4§end& 
and nobody will ever have a clou how your rules work. you can vary the rules of course.
letters to numbers: 3=e, 1=i, 4=a, 5=s, 6=g, 8=b
    </p>
    

    

</div>

<footer>
        <p>an IT Works Production<br>Created by Clemens Behrens<br>
        Created with codetemplets from w3schools<br><br><br></p>

    </footer>

<div class="navbar">
        <a href="index.html">Main</a>
        <a href="blender.html">Blender</a>
        <a href="gimp.html">GIMP</a>
        <a href="kilobolt.html">Kilobolt</a>
        <a href="travis.html">Travis</a>
        <a href="security.html" class="active">Safety</a>
        


      </div> 
</body>