<!DOCTYPE html>
<html lang="en">

<head>
    <title>Travis</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles.css">
    <style>
        * {
            box-sizing: border-box;
        }

        /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
        @media (max-width: 600px) {

            nav,
            article {
                width: 100%;
                height: auto;
            }
        }
    </style>
</head>

<body>

    <header class="box100 traviscon">
        <h2>The New Boston feat. Travis</h2>
    </header>

    <section>

        <article class="box10">

        </article>

        <article class="box box30">
                <h3><a href="https://www.youtube.com/watch?v=SUOWNXGRc6g&list=PL2F07DBCDCC01493A"target="_blank">The New Boston Travis</a></h3>
               <p>an android youtubecourse for mobile devices. it also teaches some html and css rules.
                   <br>(please dont klick the playicon within the picture. that´s embarrassing)</p>
        </article>

        <article class="box box50" style="background:url(assets/travistnb.png);background-size: cover; ">

        </article>

       
    
        <div class="navbar">
                <a href="index.html">Main</a>
                <a href="blender.html">Blender</a>
                <a href="gimp.html">GIMP</a>
                <a href="kilobolt.html">Kilobolt</a>
                <a href="travis.html"class="active">Travis</a>
                <a href="security.html" >Safety</a>
                
        
        
              </div> 

    </section>

    <footer>
        <p>an IT Works Production<br>Created by Clemens Behrens<br>
        Created with codetemplets from w3schools<br><br><br></p>

    </footer>

</body>

</html>