<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ClemensIntro</title>
    <link rel="stylesheet" href="../../css/style.css">
   </head>
<body>
    <div class="centralMain">  
        <article>
            <div><h1>Hallo, ich bin Clemens,</h1>
            <h3>Ich programmiere seit ich 15 bin.
              <br>Z80 8-Bit Machinecode, man, das waren Zeiten.
              <br><br>Freut mich, daß Ihr mein Portfolio besucht. 
              <br>Ich hoffe, Ihr habt viel Spaß dabei, es zu erkunden. 
              <br>Mir macht es ne Menge Spaß, es zu programmieren.
              <br>Es ist immer wieder toll, anzusehen, wie Ideen Gestalt annehmen 
              <br>und zu funktionierenden Elementen werden.
              <br><br>Bei der Programmierung habe ich nur selten auf Templates
              <br>und Vorgefertigtes zurückgegriffen. Ich will einfach wissen, 
              <br>wie alles funktioniert.
              <br><br>Als nächstes werde ich die Componenten weiter ausbauen
                      <br>und responsive machen. Gibt noch viel zu tun.
              
<br><br>Ihr findet mich auf <a  href="https://www.linkedin.com/in/clemens-behrens-883b591a1/" >LinkedIn</a>, 
              <br>oder schickt mir einfach ne  <a href=mailto:cbehrensbewerb@gmail.com? subject="HTML link">Mail</a>.
            </h3></div>
       <div>
        <a target="blank" href="https://piofor.herokuapp.com/" >  
        <button class='centralButton'>Besucht Pioneers Fortune,
          <br>die Website zu einem 
          <br>fiktiven Freizeitpark
          <br>entwickelt in REACT
          <br>(under construction)
           </button></a>
          
           <a target="blank" href="../breakDaWalls/index.html" >  
           <button class='centralButton'>Spielt Break da Walls, 
             <br>ein Breakoutclone,
             <br>built from scratch
             <br>F11 für fullscreen </button>
             </a>
             
             <a target="blank" href="../onscreenkeyboard/index.html" >
           <button class='centralButton'>Eine anpassbare<br>Onscreentastatur<br>(under construction)</button></a>
           
           <a target="blank" href="../erklärbär/index.html" >
           <button class='centralButton'>Erklärbär, 
             <br>meine Abschlussarbeit
            <br>des vierwöchigen
            <br>Schnupperkurses</button></a>
        
          </div>
        </article>
        <picture>
          <img src="../../assets/bigFace.png" alt="Portrait" width="100%" >
          </picture>
           <a style="position: absolute; top: 85% ;margin: auto; font-size: 1vw; "target="blank"  href="../impressum/impressum.html" >
  Impressum</a>
            </div>
    
</body>
</html>
